#snake-field{
    display: inline-block;
}
#snake-renew,#snake-start{
    width: 145px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;    
}
#snake-start{
    margin-right: 10px;
}
.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}
.snake-unit{
    background-color: white;
}
.food-unit{
    background-color: red;
}
.barrier-unit{
    background-color: chartreuse;
}
.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}
#score{
    display: block;
    margin-top: 15px;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}