* {
    margin: 0;
    padding: 0;
}

h2{
    margin-top: 30px;
}

body {
    margin-left: 40px;
}

#container {
    position: relative;
    min-height: 220px;
}

.tab_headers {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.tab_headers li {
    display: block;
    height: 30px;
    width: 150px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: cornflowerblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    margin-right: 3px;
    line-height: 30px;
    background-color: cornflowerblue;
    color: #fff;
}

.tab_headers > .tab_active {
    position: relative;
    background-color: #fff;
    color: #000;
}

.tab_active::after {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #fff;
    z-index: 9;
}

.tab_content {
    display: none;
    position: absolute;
    left: 0;
    top: 31px;
    border: 1px solid cornflowerblue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 700px;
    padding: 20px;
}

.tab_content_active {
    display: block;
}

input,
select {
    display: block;
    width: 200px;
}

textarea {
    display: block;
    resize: none;
    margin-bottom: 20px;
}

.incorrect {
    position: relative;
}

.incorrect > input,
.incorrect > select,
.incorrect > textarea {
    outline: 1px solid red;
}

.incorrect::after {
    content: "Поле заполнено неверно";
    color: red;
    position: absolute;
    top: -18px;
    left: 210px;
    width: 170px;
}

#btn-send,
#btn-send1{
    outline: none;
}

.search_list {
    display: none;
    list-style-type: none;
    border: 1px solid gray;
    max-width: 400px;
}

.search_list li:hover{
    background-color: cornflowerblue;
    color: white;
}