#feedbacks-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback {
    width: 420px;
    border-radius: 5px;
    border: 1px solid #c0c0c040;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 15px;
}

.author-is-approved {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.feedback-author {
    color: darkgrey;
    font-style: italic;
    font-weight: bold;
}

.feedback-approved {
    color: darkgrey;
    font-style: italic;
}

.feedback-txt {
    padding: 0 8px;
}

.approve-btn {
    position: absolute;
    bottom: 0;
    right: 80px;
}

.remove-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
.id-label,
.author-label,
.txt-label {
    display: block;
    width: 700px;
    margin-bottom: 10px;
}

input {
    width: 200px;
}

.input-id {
    margin-left: 25px;
}

.input-author {
    margin-left: 8px;
}

textarea {
    display: block;
    width: 500px;
    height: 100px;
    resize: none;
}
*/
